<div class="home-page container">
  <mat-card>
    <form (ngSubmit)="searchImage()">
      <div class="form-group">
        <label class="form-label">NASA Image Search</label>
        <div class="input-container">
          <input class="form-control" [(ngModel)]="filter" name="filter" />
          <button class="btn btn-primary" [disabled]="!filter" type="submit">
            <ng-container *ngIf="!loading">GO</ng-container>
            <i class="fa fa-spin fa-spinner" *ngIf="loading"></i>
          </button>
        </div>
      </div>
    </form>

    <div class="number-of-items" *ngIf="totals">
      Showing {{ items.length }} of {{ totals }} results
    </div>

    <div class="items-container">
      <app-item *ngFor="let item of items" [item]="item"></app-item>
    </div>
  </mat-card>
</div>
