.item {
  display: flex;
  align-items: center;
  padding: 5px 0;

  .image {
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 2px solid #4a90e2;
      cursor: pointer;
    }
  }

  .description {
    margin-left: 10px;
    .title {
      color: #4a90e2;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
